services:
  myDB:
    image: postgres:15.3
    container_name: my-database
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: alumno
      POSTGRES_PASSWORD: alumno
      POSTGRES_DB: course-db
    volumes:
      - ./postgres:/var/lib/postgresql/data
